body{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  /* padding: 40px 190px; */
  padding: 4.695vh 10.882vw;
  color: #63687e;
}
a{
  text-decoration:none;
  color:inherit;
}
a:hover{
  text-decoration:none;
  color:inherit;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 700;
}

.col-md-3{
  padding: auto 20px;
}
.lt-dark-text{
  color: #1e202a;
}
.subtitle{
  font-weight: 700;
  margin-bottom: 45px;
}
.hr{
  display:none;
}
.header-mine{
  width: 100%;
  height: 270px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #f5f7ff;
}
.card{
  background-color: #f0f2fa;
  position: relative;
  border-style: none;
  cursor: pointer;
}
.card:hover{
  background-color:#e1e3f0;
}
.card-main{
  border-top-width: 0.35rem;
  border-radius: 0.5rem;
  text-align: center;
  border-style: solid none none none;
}
.card-title-1{
  margin: 10px auto 15px;
}
.card-title-2{
  margin: 10px auto 25px;
}
.icon{
  height: 25px;
  width: 25px;
}
.card-number-main{
  /* font-size: 4rem; */
  font-size: 3.6656vw;
  margin-bottom: 0;
}
.followers{
  margin-top: 0;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
.card-number-secondary{
  margin-bottom: 0;
  font-size: smaller;
}
.increase{
  color: #1db489;
}
.decrease{
  color: #dc414c;
}
/* card-colors start */
  .card-fb{
    border-top-color: #178FF5;
  }
  .card-ig{
    /*border-image: linear-gradient(to right, #fdc468, #df4996);
    border-image-slice: 1;*/ 
    background-clip:padding-box;
    position: relative;
    border-color:transparent;
  }
  .card-ig::after{
    position: absolute;
    top: -0.35rem; bottom: 1px;
    left: 1px; right: 1px;
    background: linear-gradient(to right, #fdc468, #df4996);
    content: '';
    z-index: -1;
    border-radius: 0.5rem;
  }
  .card-tw{
    border-top-color: #1da1f2;
  }
  .card-yt{

    border-top-color: #c4032b;
  }
/* card-colors end */
input.toggle{
  appearance:none;
  float: right;
  -moz-appearance:none;
  -webkit-appearance:none;
  width: 54px;
  height: 27px;
  border-radius: 27px;
  background-image: linear-gradient(#aeb3cb, #aeb3cb);
  outline: 0;
  cursor: pointer;
  position: relative;
}
input.toggle:checked{
  background-color: #000;
  background-image: linear-gradient(to right, #378fe6, #3eda82);
}
input.toggle:hover{
  background-image: linear-gradient(to right, #378fe6, #3eda82);
}
input.toggle::after{
  content: ' ';
  width:23.8px;
  height:23.8px;
  border-radius:100%;
  background-color: #fff;
  position: absolute;
  transform: scale(0.8);
  transition-property: left;
  transition-delay: 0.09s;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  top: 1.4px;
  left: 0;
}
input.toggle:checked::after{
  left: 30px;
}
.overview{
  margin: 2rem auto 1rem;
}
/*@media screen and (max-width:1300px) and (min-width:1016px) {
  .secondary-card-number-main{
    font-size: 1.5rem;
  }
}*/
@media screen and (max-width:991px) {
  .card-number-main{
    font-size: 3.4rem;
  }
}
.flex{
  display:flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
@media screen and (max-width:575px) {
  .hr{
    display:block;
  }
  .subtitle.flex{
    display:block;
  }
  .toggle-container{
    display:block;
  }
  input.toggle:hover{
  background-color: #aeb3cb;
  }
}
/*Dark Mode starts here*/
body.dt{
  background-color:#1e202a;
  color:#8b97c6;
}
.lt-dark-text.dt{
  color: #fff;
}
.card.dt{
  background-color:#252a41;
}
.card.dt:hover{
  background-color:#333a56;
}
.header-mine.dt{
  background-color:#1f212e;
}
/*Dark mode ends here*/